
html, body{background-color: darkorchid;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
color:wheat;}

img{width:200px; height:200px;
border-radius:100px ;
}

a{font-weight: bolder;}



